@import url(https://fonts.google.com/specimen/Rubik);
@import "tailwindcss";

@theme {
  --font-primary: "Rubik", sans-serif;
  --color-moderate-blue: hsl(238, 40%, 52%);
  --color-soft-red: hsl(358, 79%, 66%);
  --color-light-grayish-blue: hsl(239, 57%, 85%);
  --color-pale-red: hsl(357, 100%, 86%);
  --color-dark-blue: hsl(212, 24%, 26%);
  --color-grayish-blue: hsl(211, 10%, 45%);
  --color-light-gray: hsl(223, 19%, 93%);
  --color-very-light-gray: hsl(228, 33%, 97%);
  --color-white: hsl(0, 0%, 100%);
}
* {
  font-family: var(--font-primary);
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
   line-height: 1.5;
}

body {
  @apply bg-very-light-gray flex justify-center items-center py-8 px-4 sm:py-16 sm:px-8;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
 
}
.action-btn--reply,
.action-btn--edit {
  --button-color: var(--color-moderate-blue);
  --hover-color: var(--color-light-grayish-blue);
}

.action-btn--delete {
  --button-color: var(--color-soft-red);
  --hover-color: var(--color-pale-red);
}
.action-btn {
  @apply flex gap-2 items-center font-bold cursor-pointer capitalize;
  color: var(--button-color);
}
.action-btn:is(:hover, :focus, :active) {
  color: var(--hover-color);
}
.action-btn:is(:hover, :focus, :active) svg path {
  fill: var(--hover-color);
}
.comment {
  z-index: auto;
  display: grid;
  column-gap: 24px;
  grid-template-areas:
    "header header"
    "content content"
    "vote buttons";
  width: 100%;
}
.comment__header {
  grid-area: header;
}
.comment__buttons {
  grid-area: buttons;
}
.comment__content {
  grid-area: content;
}

.vote {
  grid-area: vote;
}
@media screen and (min-width: 1024px) {
  .comment {
    align-items: start;
    column-gap: 26px;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "vote header buttons"
      "vote content content";
  }
}
